.App {
  text-align: center;

}

body {
  background-color: #efdfbe;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #311005;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cookies-box {
  display: flex;
  max-width: 500px;
  margin: auto;
  flex-wrap: wrap;
}

.image {
  max-width: 100px;
}